.carousel_container {
  display: flex;
  list-style: none;
  padding: 1rem 0 0;
  overflow: hidden;
  position: relative;
  width: 98vw;
  margin: 0 auto;
  max-width: 20rem;
}

.carousel_image_text {
  display: inline-flex;
  flex: 0 0 auto;
  /* width: 50%; */
  padding: 0;
  margin: 0;

  
  height: 115px;
  padding: 8px;
  justify-content: center;
  align-items: center;
  gap: 24px;
  align-self: stretch;

  border-radius: 8px;
}

.carousel_image image:hover {
  cursor:pointer;
}

.carousel_image {
  width: 98px;
  height: 84px;
  flex-shrink: 0;

  border-radius: 8px;
  background: lightgray 50% / cover no-repeat;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
}